<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>home</title>
</head>
<body>
	<div th:text="${message}"></div>
	<form th:action="@{/general/addGeneral}" method="post">
		<table>

			<tr>
				<td th:text="${sign}">标题</td>
				<td><input type="text" name="reTitle"></td>
			</tr>

			<tr>
				<td th:text="${meg}">内容</td>
				<td><input type="text" name="reContent"></td>
			</tr>
			<tr>
				<td>类别名称</td>
				<td><select name="caName">
						<option value="学校简介">学校简介</option>
						<option value="领导机构">领导机构</option>
						<option value="教学成果">教学成果</option>
				</select></td>
			</tr>
			<tr>
				<td><input type="submit" value="提交"></td>
				<td><input type="reset" name="重置"></td>
			</tr>
		</table>
	</form>
</body>
</html>