<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>类别类管理</title>
</head>
<body>
	<span th:if="${introduction}==0"> 没有任何学校简介信息！ </span>
	<div th:if="${introduction}!=0">
		<table border="1" class="table1">
			<tr>
				<td th:text="${message}"></td>
			</tr>
			<thead>
				<tr>
					<td>标题</td>
					<td>内容</td>
				</tr>
			</thead>
			<tr th:each="resource,resourceStart:${introduction}">
				<td th:text="${resource.reTitle}">${resource.reTitle}</td>
				<td th:text="${resource.reContent}">${resource.reContent}</td>
			</tr>
		</table>
	</div>
</body>
</html>