<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>home</title>
</head>
<body>
<div th:text="${message}"></div>
	<details>
	<summary>添加概括类</summary>
		<a th:href="@{/general/addGeneralJumping}" target="mainIframe">添加概括类</a>
	</details>
	<details>
		<summary>管理概括类</summary>
		<div th:each="category,categoryStart:${categoryList}">
				<a th:href="@{/general/manageGeneral?(id=${category.caId})}" th:text="${category.caName}"></a>
		</div>
		<div th:each="category,categoryStart:${sceneryList}">
				<a th:href="@{/general/manageScenery}" th:text="${category.caName}"></a>
		</div>
	</details>
<iframe name="mainIframe" height="500px;" width="1500px;"></iframe>
</body>
</html>