<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>home</title>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" th:src="@{/static/js/upload.js}"></script>
</head>
<body>
	<div th:text="${message}"></div>
	<form
		th:action="@{/general/updateSchoolScenery?(id=${tb.reId})}"
		method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<td>简介</td>
				<td><input type="text" name="reTitle"
					th:value="${tb.reTitle}" required="required"/></td>
			</tr>
		</table>
		<div id="addCommodityIndex">
			<!--input-group start-->
			<div class="input-group row">
				<div class="col-sm-3">
					<label>图片</label>
				</div>
				<div class="col-sm-9 big-photo">
					<div id="preview">
						<img alt="无图片" id="imghead" border="0"
							th:src="@{/static/uploadimg/{picture}(picture=${tb.reContent})}"
							width="90" height="90" onclick="$('#previewImg').click();">
					</div>
					<input type="file" name="picture" onchange="previewImage(this)"
						style="display: none;" id="previewImg" required="required"/>
					<!--<input id="uploaderInput" class="uploader__input" style="display: none;" type="file" accept="" multiple="">-->
				</div>
			</div>
			<!--input-group end-->
		</div>
		<input type="submit" value="修改">
        <a th:href="@{/general/deleteScenery?(id=${tb.reId})}" onclick="return confirm('确定要删除吗')">Delete</a>
	</form>
</body>
</html>