  <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>home</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/managepicture.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/page.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/sign.css}">
</head>
<body>
<div class="aa">
<div th:text="${message}"  class="center"></div>
<span th:if ="${pagemsg.totalCount}==0" class="center">
        没有任何轮播图信息！
    </span>
 <div th:if ="${pagemsg.totalCount}!=0">
        <table border="1"  class="table1 table-hover table-bordered">   
        <thead>
            <tr class="col">
            	<td width="25%"><span>图片名称</span></td>
                <td width="50%"><span>图片</span></td>
                <td width="25%"><span>操作</span></td>
            </tr>
            </thead>
                <tr th:each="general,generalStart:${pagemsg.lists}">
                    <td th:text="${general.reTitle}">${news.reTitle}</td>
                    <td><img alt="无图片" th:src="@{/static/uploadimg/{picture}(picture=${general.reContent})}" /></td>
                	<td><a th:href="@{/general/deleteScenery?(id=${general.reId})}" onclick="return confirm('确定要删除吗')"><span class="glyphicon glyphicon-trash" title="删除"></span></a></td>
                </tr>
        </table>   
<ul class="pagination"> 
   <li th:if ="${pagemsg.currPage != 1}">
           <a th:href="@{/general/manageCarousel?(currentPage=1)}">首页</a>&nbsp;&nbsp;
   </li>
   <li th:if ="${pagemsg.currPage != 1}">
           <a th:href="@{/general/manageCarousel?(currentPage=${pagemsg.currPage-1})}">上一页</a>&nbsp;&nbsp;
	</li>	
	<li th:if="${pagemsg.currPage == 1}">
		<a href="#">首页</a>
	</li>
	<li th:if="${pagemsg.currPage == 1}">
		<a href="#">上一页</a>
	</li>
	
	<li th:each="i:${#numbers.sequence(1,pagemsg.totalPage)}" th:if="${i > pagemsg.currPage-3} and ${i < pagemsg.currPage+3}">
			<a th:href="@{/general/manageCarousel?(currentPage=${i})}"th:text="${i}">#</a>
	</li>
	
    <li th:if ="${pagemsg.currPage < pagemsg.totalPage}">
           <a th:href="@{/general/manageCarousel?(currentPage=${pagemsg.currPage+1})}">下一页</a>&nbsp;&nbsp;
	</li>
	<li th:if="${pagemsg.currPage >= pagemsg.totalPage}">
		<a href="#">下一页</a>
	</li>
</ul>
</div> 
</div>
</body>
</html>