  <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>home</title>
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/managepicture.css}">
</head>
<body>
<div class="aa">
<div th:text="${message}"></div>
<span th:if ="${pagemsg.totalCount}==0">
        没有任何轮播图信息!
    </span>
 <div th:if ="${pagemsg.totalCount}!=0">
        <table border="1"  class="table1">   
        <thead>
            <tr>
            	<td><span>名称</span></td>
                <td><span>轮播图</span></td>
                <td><span>删除</span></td>
            </tr>
            </thead>
                <tr th:each="general,generalStart:${pagemsg.lists}">
                    <td th:text="${general.caName}">${general.caName}</td>
                    <td><img alt="无图片" width="100px;" height="80px;" th:src="@{/static/uploadimg/{picture}(picture=${general.reContent})}" /></td>
                	<td><a th:href="@{/general/deleteScenery?(id=${general.reId})}">delete</a></td>
                </tr>
        </table>   
   
<ul class="pagination">
   <span th:if ="${pagemsg.currPage != 1}">
           <a th:href="@{/news/manageObject?(currentPage=1,id=${zid})}">[首页]</a>&nbsp;&nbsp;
           <a th:href="@{/news/manageObject?(currentPage=${pagemsg.currPage-1},id=${zid})}">[上一页]</a>&nbsp;&nbsp;
	</span>	
	<span th:if="${pagemsg.currPage == 1}">
		[首页][上一页]
	</span>
	<span th:each="i:${#numbers.sequence(1,pagemsg.totalPage)}">
			<a th:if="${i > pagemsg.currPage-3} and ${i < pagemsg.currPage+3}"  th:href="@{/news/manageObject?(currentPage=${i},id=${zid})}"th:text="${i}">#</a>
	</span>
    <span th:if ="${pagemsg.currPage < pagemsg.totalPage}">
           <a th:href="@{/news/manageObject?(currentPage=${pagemsg.currPage+1},id=${zid})}">[下一页]</a>&nbsp;&nbsp;
	</span>
	<span th:if="${pagemsg.currPage >= pagemsg.totalPage}">
		[下一页]
	</span>
</ul>
 </div> 
</div>
</body>
</html>