<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/uploadpicture.css}">
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" th:src="@{/static/js/upload.js}"></script>
</head>
<body>
<div th:text="${message}" class="center"></div>
<div class="aa">
<div th:if="${sign}=='1'" class="center">请先去类别管理中添加相应类别</div>
<div th:if="${sign}!='1'">
	<form th:action="@{/general/uploadCarousel}" method="post"
		enctype="multipart/form-data" class="bs-example bs-example-form" role="form">
		<div id="addCommodityIndex">
			<!--input-group start-->
			
			<!--input-group end-->
		</div>
		<div class="input-group input-group-lg">
			<span class="input-group-addon">类别名称</span>
			<select name="reTitle"   class="form-control">
					<option value="首页轮播">首页轮播</option>
					<option value="学校概括">学校概括</option>
					<option value="校园新闻">校园新闻</option>
					<option value="教育教研">教育教研</option>
					<option value="校园文学">校园文学</option>
					<option value="教师风采">教师风采</option>
					<option value="校徽">校徽</option>
					<option value="公告">公告</option>
			</select>
		</div>		
		<div class="input-group row">
				<div class="col-sm-1">
				</div>
				<div class="col-sm-11 big-photo">
					<div id="preview">
						<img id="imghead" border="0" src="../static/images/photo_icon.png"
						 onclick="$('#previewImg').click();">
					</div>
					<input type="file" name="picture" onchange="previewImage(this)"
						style="display: none;" id="previewImg" required="required">
				</div>
			</div>
			<input type="submit" value="添加" class="bb" title="添加"/>
	</form>
</div>
</div>
</body>
</html>