<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>管理用户</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/dist/css/wangEditor.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/manageuser.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/inquirytable.css}">
</head>
<body>
	<div class="mainbox">
	<div th:text="${message}" class="message"></div>
		<div class="thir">
			<a th:href="@{/user/toAddUser}" title="添加用户">添加用户</a>
			<form th:action="@{/user/manageUser}" class="inquiry">
				<input type="text" name="inquiry" th:value="${inquiry}" placeholder="姓名/邮箱/职位/电话" required="required" class="inquiryinput" maxlength="20"/>
				<input type="submit" value="提交" class="btn btn-default inquirysub"/>
			</form>
		</div>
			<div th:if="${pagemsg.totalCount}==0" class="message">没有任何用户信息	</div>
			<div th:if="${pagemsg.totalCount}!=0" >
			<table class="table table-bordered table-hover table-condensed"  >
				<tr>
					<th class="aa"><span>姓名</span></th>
					<th class="aa"><span>邮箱</span></th>
					<th class="aa"><span>性别</span></th>
					<th class="aa"><span>职位</span></th>
					<th class="aa"><span>联系电话</span></th>
					<th class="aa"><span>图片</span></th>
					<th class="aa"><span>简介</span></th>
					<th class="aa"><span>成就</span></th>
					<th class="aa"><span>操作</span></th>
				</tr>
				<tr  th:each="user,userStart:${pagemsg.lists}">
						<td class="aa" th:text="${user.usName}">${user.usName }</td>
						<td class="aa" th:text="${user.usEmail}">${user.usEmail}</td>
						<td class="aa" th:text="${user.usSex}">${user.usSex}</td>
						<td class="aa" th:text="${user.caName}">${user.caName }</td>
						<td class="aa" th:text="${user.usPhone}">${user.usPhone }</td>
						<td class="bb" ><img alt="无图片" th:src="@{/static/uploadimg/{picture}(picture=${user.usPicture})}" /></td>
						<td class="aa"><button onclick="show(this)" title="预览简介" th:name="${user.usIntroduction}" data-toggle="modal" data-target="#myModal">预览</button></td>
						<td class="aa"><button onclick="show(this)" title="预览成就" th:name="${user.usAchievements}" data-toggle="modal" data-target="#myModal">预览</button></td>
						<td class="aa">
							<a th:href="@{/user/toUpdateUser?(id=${user.usId},page=${pagemsg.currPage})}" title="修改"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;&nbsp;
							<a th:href="@{/user/deleteUser?(id=${user.usId},page=${pagemsg.currPage})}" title="删除"
	 						onclick="return confirm('确定要删除吗')"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
			</table>
			<ul class="pagination">  
				<li th:if="${pagemsg.currPage != 1}"> 
					<a th:href="@{/user/manageUser?(currentPage=1,inquiry=${inquiry})}">首页</a>
				</li>
				<li th:if="${pagemsg.currPage != 1}">
					<a th:href="@{/user/manageUser?(currentPage=${pagemsg.currPage-1},inquiry=${inquiry})}">上一页</a>
				</li>
				<li th:if="${pagemsg.currPage == 1}">
					<a href="#">首页</a>
				</li>
				<li th:if="${pagemsg.currPage == 1}">
					<a href="#">上一页</a>
				</li>
				 <li th:each="i:${#numbers.sequence(1,pagemsg.totalPage)}" th:if="${i > pagemsg.currPage-3} and ${i < pagemsg.currPage+3}"> 
				 	<a th:href="@{/user/manageUser?(currentPage=${i},inquiry=${inquiry})}" th:text="${i}">#</a>
				</li>
				<li th:if="${pagemsg.currPage < pagemsg.totalPage}" >
					 <a th:href="@{/user/manageUser?(currentPage=${pagemsg.currPage+1},inquiry=${inquiry})}">下一页</a>
				</li> 
				<li th:if="${pagemsg.currPage >= pagemsg.totalPage}">
					<a href="#">下一页</a>
	 			</li>
			</ul>
		</div>
	</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
			</div>
			<div class="modal-body" id="content">
				没有内容
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/admin/user/manageruser.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
	function show(obj) {
		document.getElementById('content').style.display="block";
		document.getElementById('content').innerHTML = obj.name;
	}
</script>
</body>
</html>