<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
</head>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/dist/css/wangEditor.min.css}">
<body>
	<form th:action="@{/user/updateMe}" method="post" enctype="multipart/form-data" onsubmit="modifyContent()">
		<table>
			<tr>
				<td>邮箱</td>
				<td>
					<input type="email" name="usEmail" th:value="${session.manager.usEmail}" maxlength="20"/>
				</td>
				<td>
					<span id="ok" class="glyphicon glyphicon-ok" style="display: none;"></span>
					<span id="wrong" class="glyphicon glyphicon-remove" style="display: none;"></span>
				</td>
			</tr>
			<tr>
				<td>姓名</td>
				<td><input type="text" name="usName" th:value="${session.manager.usName}" /></td>
			</tr>
			<tr>
				<td>性别</td>
				<td><input name="usSex" type="radio" value="男"
					th:checked="${session.manager.usSex=='男'}" />男 <input name="usSex"
					type="radio" value="女" th:checked="${session.manager.usSex=='女'}" />女
				</td>
			</tr>
			<tr>
				<td>身份</td>
				<td th:text="${session.manager.caName}"></td>
			</tr>
			<tr>
				<td>联系方式</td>
				<td><input type="text" name="usPhone"
					th:value="${session.manager.usPhone}" maxlength="11"/></td>
			</tr>
			<tr>
				<td>照片</td>
				<td>
					<div class="col-sm-9 big-photo">
						<div id="preview">
							<img id="imghead" border="0" alt="未上传图片"
								th:src="@{/static/uploadimg/{picture}(picture=${session.manager.usPicture})}"
								width="90" height="90" onclick="$('#previewImg').click();">
						</div>
						<input type="file" name="picture" onchange="previewImage(this)"
							style="display: none;" id="previewImg" accept="image/*">
					</div>
				</td>
			</tr>
			<tr>
				<td>简介</td>
				<td>
					<div id="introduction">
						<textarea style="display: none;" name="usIntroduction"
							id="usIntroduction"></textarea>
						<div id="intro" style="display: none;">
							<div id="introdEditor" style="height: 200px;"></div>
							<a href="#" id="introHide">完成</a>
						</div>
					</div> <a href="#" id="introShow">查看/修改简介</a>
				</td>
			</tr>
			<tr>
				<td>成就</td>
				<td>
					<div id="achievements">
						<textarea style="display: none;" name="usAchievements"
							id="usAachievements"></textarea>
						<div id="achieve" style="display: none;">
							<div id="achieveEditor" style="height: 200px;"></div>
							<a href="#" id="achieveHide">完成</a>
						</div>
					</div> <a href="#" id="achieveShow">查看/修改成就</a>
				</td>
			</tr>
			<tr>
				<td><input type="submit" id="sure" value="确认修改"/></td>
			</tr>
		</table>
	</form>

<script type="text/javascript" th:src="@{/static/dist/js/lib/jquery-1.10.2.min.js}"></script>
<script type="text/javascript" th:src="@{/static/dist/js/wangEditor.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/admin/user/updateuser.js}" ></script>
<script type="text/javascript" th:src="@{/static/js/admin/user/testemail.js}" ></script>
<script type="text/javascript" th:src="@{/static/js/upload.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
window.onload=function(){
	var usIntroduction = /*[[${session.manager.usIntroduction}]]*/;//给两个富文本赋值
	var usAchievements = /*[[${session.manager.usAchievements}]]*/;
	introdEditor.$txt.html(usIntroduction);
	achieveEditor.$txt.html(usAchievements);
}
/*]]>*/
</script>
</body>
</html>