<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.tdymeleaf.org">

<head>
<title>Home</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/admin/viewme.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css"
	th:href="@{/static/dist/css/wangEditor.min.css}">
</head>
<body>
	<div th:text="${message}" class="message"></div>
	<div class="content">
		<table class="table table-hover table-condensed">
			<tr>
				<td width="20%"><span>姓名</span></td>
				<td width="80%"><span th:text="${session.admin.usName}"></span></td>
			</tr>
			<tr>
				<td width="100px"><span>邮箱</span></td>
				<td><span th:text="${session.admin.usEmail}"></span></td>
			</tr>
			<tr>
				<td><span>性别</span></td>
				<td><span th:text="${session.admin.usSex}"></span></td>
			</tr>
			<tr>
				<td><span>身份</span></td>
				<td><span th:text="${session.admin.caName}"></span></td>
			</tr>
			<tr>
				<td><span>联系方式</span></td>
				
				<td><span th:text="${session.admin.usPhone}"></span></td>
			</tr>
			<tr>
				<td><span>照片</span></td>
				<td class="bb">
					<img alt="没有照片" width="200px;" height="50px;"
					th:src="@{/static/uploadimg/{picture}(picture=${session.admin.usPicture})}" />
				</td>
			</tr>
			<tr>
				<td><span>查看</span></td>
				<td>
					<a href="#"  class="aa"
					th:onclick="'showIntro(1)'" data-toggle="modal" data-target="#introAch" onfocus="tdis.blur();" >查看简介</a>
					<a href="#" class="aa"
					th:onclick="'showIntro(2)'" data-toggle="modal" data-target="#introAch" onfocus="tdis.blur();" >查看成就</a></td>
			</tr>
			<tr>
				<td><span>修改</span></td>
				<td>
					<a th:href="@{/user/toUpdateMe}" class="aa" title="修改个人资料">个人资料</a>
					<a th:href="@{/user/toUpdatePsw}" class="aa" title="修改密码">修改密码</a>
				</td>
			</tr>
		</table>
</div>

<!-- 模态框（简介） -->
<div class="modal fade" id="introAch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
			</div>
			<div class="modal-body" id="introdEditor">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/admin/user/updateuser.js}" ></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
function showIntro(obj){
	var content = "";	
	if(obj==1){
		content = /*[[${session.admin.usIntroduction}]]*/;
	} else if(obj==2) {
		content = /*[[${session.admin.usAchievements}]]*/;
	}
	$('#introdEditor').html(content);
}
</script>
</body>
</html>