<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Home</title>
</head>
<body>
	<table>
			<tr>
				<td><a th:href="@{/user/toUpdatePsw}">修改密码</a></td>
			</tr>
			<tr>
				<td>邮箱</td>
				<td th:text="${session.user.usEmail}"></td>
			</tr>
			<tr>
				<td>姓名</td>
				<td th:text="${session.user.usName}"></td>
			</tr>
			<tr>
				<td>性别</td>
				<td th:text="${session.user.usSex=='男'}"></td>
			</tr>
			<tr>
				<td>身份</td>
				<td th:text="${session.user.caName}"></td>
			</tr>
			<tr>
				<td>联系方式</td>
				<td th:text="${session.user.usPhone}"></td>
			</tr>
			<tr>
				<td>照片</td>
				<td>
					<input type="hidden" name="usPicture" th:value="${session.user.usPicture}"/>
					<img alt="没有照片" width="200px;" height="50px;"
					th:src="@{/static/uploadimg/{picture}(picture=${session.user.usPicture})}" />
					<input type="file" name="picture"/>
				</td>
			</tr>
			<tr>
				<td>简介</td>
				<td><a href="#" id="introShow">查看简介</a></td>
			</tr>
			<tr>
				<td>成就</td>
				<td><a href="#" id="achieveShow">查看成就</a></td>
			</tr>
			<tr>
				<td>
					<a href="#">修改基本信息</a>
				</td>
			</tr>
		</table>
</body>
</html>