<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>home</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/addlink.css}">
</head>
<body>
<div th:text="${message}"></div>
	<form th:action="@{/link/addLink}" method="post">
		<table>
			<tr>
				<td><input type="hidden" name="caName" th:value="${link.caName}">
					<input type="hidden" name="caId" th:value="${link.caId}">
				</td>
			</tr>
			<tr>
				<td>链接名称</td>
				<td><input type="text" name="reTitle"></td>
			</tr>

			<tr>
				<td>链接地址</td>
				<td><input type="url" name="reContent"></td>
			</tr>
			<tr>
				<td><input type="submit" value="提交"></td>
				<td><input type="reset" name="重置"></td>
			</tr>
		</table>
	</form>
</body>
</html>