<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>home</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/addlink.css}">
</head>
<body>
<div th:text="${message}"></div>
	<form th:action="@{/link/addLink}" method="post">
		<table>
			<tr>
				<td width="24%">链接名称</td>
				<td><input type="text" name="reTitle" required></td>
			</tr>

			<tr>
				<td>链接地址</td>
				<td><input type="url" name="reContent" required></td>
			</tr>
			<tr>
				<td colspan=
				"2"><input type="submit" value="提交" class="aa"></td>
			</tr>
		</table>
	</form>
</body>
</html>