<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>home</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/addlink.css}">
</head>
<body>
<div th:if="${sign}=='1'">请先去类别管理中添加相应类别</div>
<div th:if="${sign}!='1'">
<div th:text="${message}"></div>
	<form th:action="@{/link/addLink}" method="post">
		<table>
			<tr>
				<td>链接内容</td>
				<td><input type="text" name="reTitle"></td>
			</tr>

			<tr>
				<td>链接地址</td>
				<td><input type="url" name="reContent"></td>
			</tr>
			<tr>
				<td>名称</td>
				<td>
					<select name="caId">
						<option th:each="category,categoryStart:${categoryList}" th:text="${category.caName}" th:value="${category.caId}" />
					</select>
				</td>
			</tr>
			<tr>
				<td><input type="submit" value="提交"></td>
			</tr>
		</table>
	</form>
</div>
</body>
</html>