<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>home</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/inquirytable.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/managelink.css}">
</head>
<body>
<div th:text="${message}" class="issucessor"></div>
<div th:if="${sign}=='1'" class="issucessor">无任何底部链接的信息</div>
<div th:if="${sign}!='1'">
<div class="mainbox">
		<table border="1" class="table table-hover table-bordered">
       		 <thead>
	            <tr class="col">
	                <th width="40%"><span>链接名称</span></th>
	                <th width="50%"><span>链接地址</span></th>
	                <th width="10%"><span>操作</span></th>
	            </tr>
            </thead>
            <tbody>
            <tr th:each="link,linkStart:${list}">
				<td th:text="${link.reTitle}">${link.reTitle}</td>
				<td th:text="${link.reContent}">${link.reContent}</td>
				<td><a th:href="@{/link/selectOneLink?(id=${link.reId})}"><span class="glyphicon glyphicon-edit" title="修改"></span></a>&nbsp;&nbsp;&nbsp;
					<a th:href="@{/link/deleteLink?(id=${link.reId})}"
					onclick="return confirm('确定要删除吗')"><span class="glyphicon glyphicon-trash" title="删除"></span></a></td>
			</tr>
            </tbody>
        </table>    
</div>
</div>
</body>
</html>