<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>增加类别</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/addcategory.css}">
</head>
<body>
<div th:text="${message}" class="center"></div>
<div class="demo">
	<form th:action="@{/category/addCategory}" method="post">
		<table>
			<tr>
				<td width="40%"><span>类别名称</span></td>
				<td width="60%"><input type="text" name="caName" required="required" maxlength="6"></td>
			</tr>
			<tr>
				<td><span>父类别名称</span></td>
				<td><select id="caPid" name="caPid" style="width: 280px" class="bb">
						<option value="1">学校概括</option>
						<option value="2">学校新闻</option>
						<option value="3">教研组</option>
						<option value="4">用户</option>
						<option value="6">通知公告</option>
						<option value="7">校园风光</option>
						<option value="9">上传类</option>
						<option value="11">资源下载</option>
						<option value="12">校园文学</option>
<!-- 						<option value="13">其他信息</option> -->
				</select></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="添加" class="butone" title="添加">
			</tr>
		</table>
	</form>
	<br>
</div>
</body>
</html>