<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>增加类别</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/addlink.css}">
</head>
<body>
<div th:text="${message}"></div>
	<form th:action="@{/category/addCategory}" method="post">
		<table>
			<tr>
				<td>类别名称</td>
				<td><input type="text" name="caName" required="required" maxlength="6"></td>
			</tr>
			<tr>
				<td>父类别名称:</td>
				<td><select id="caPid" name="caPid" style="width: 160px">
						<option value="1" th:selected="${caPid=='1'}">学校概括</option>
						<option value="2" th:selected="${caPid=='2'}">学校新闻</option>
						<option value="3" th:selected="${caPid=='3'}">机构部</option>
						<option value="4" th:selected="${caPid=='4'}">管理员</option>
						<option value="5" th:selected="${caPid=='5'}">教师</option>
						<option value="6" th:selected="${caPid=='6'}">通知公告</option>
						<option value="7" th:selected="${caPid=='7'}">校园风光</option>
						<option value="8" th:selected="${caPid=='8'}">底部链接</option>
						<option value="9" th:selected="${caPid=='9'}">上传类</option>
						<option value="10" th:selected="${caPid=='10'}">图片</option>
						<option value="11" th:selected="${caPid=='11'}">资源下载</option>
						<option value="12" th:selected="${caPid=='10'}">校园文学</option>
				</select></td>
			</tr>
			<tr>
				<td><input type="submit" value="添加"> <input
					type="reset" value="重置"></td>
			</tr>
		</table>
	</form>
	<br>
</body>
</html>