<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>home</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/dist/css/wangEditor.min.css}">
</head>
<body onload="test()">
	<div th:text="${message}"></div>
	<form th:action="@{/news/addSchoolNews}" onsubmit="modifyContent()" method="post"  enctype="multipart/form-data">
		<table>
			<tr>
				<td>标题</td>
				<td><input type="text" name="reTitle"></td>
			</tr>
			<tr>
				<td>内容</td>
				<td><input type="text" name="reContent"></td>
			</tr>
			<tr>
				<td>简介</td>
				<td>
					<div id="introduction">
						<textarea style="display: none;" name="usIntroduction" 
							id="usIntroduction" ></textarea>
						<div id="intro" style="display:none;">
							<div id="introdEditor" style="height: 200px;"></div>
							<a href="#" id="introHide">完成</a>
						</div>
					</div>
					<a href="#" id="introShow">查看/修改简介</a></td>
			</tr>
			<tr>
				<td>成就</td>
				<td>
					<div  id="achievements">
						<textarea style="display: none;" name="usAchievements" id="usAachievements"></textarea>
						<div id="achieve" style="display:none;">
							<div id="achieveEditor" style="height: 200px;"></div>
							<a href="#" id="achieveHide">完成</a>
						</div>
					</div>
				<a href="#" id="achieveShow">查看/修改成就</a></td>
			</tr>
			<tr>
				<td>类别名称</td>
				<td><select name="caName">
						<option value="校园新闻">校园新闻</option>
						<option value="教育动态">教育动态</option>
						<option value="德育专题">德育专题</option>
						<option value="学生管理">学生管理</option>
						<option value="学校发展">学校发展</option>
						<option value="教师成长">教师成长</option>
				</select></td>
			</tr>
			<tr>
				<td><input type="submit" value="添加"></td>
				<td><input type="reset" value="重置"></td>
			</tr>
		</table>
	</form>
<script type="text/javascript" th:src="@{/static/dist/js/lib/jquery-1.10.2.min.js}"></script>
<script type="text/javascript" th:src="@{/static/dist/js/wangEditor.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/updateuser.js}" ></script>
<script th:inline="javascript">
/*<![CDATA[*/
	window.onload=function(){
		var usIntroduction = [[${user.usIntroduction}]];//给两个富文本赋值
		var usAchievements = [[${user.usAchievements}]];
		introdEditor.$txt.html(usIntroduction);
		achieveEditor.$txt.html(usAchievements);
	}
/*]]>*/
</script>
</body>
</html>