<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
<script type="text/javascript"
	src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/static/js/testemail.js}"></script>
<script type="text/javascript" th:src="@{/static/js/adduser.js}"></script>
</head>
<body>
	<div th:text="${message}"></div>
	<form th:action="@{/user/addUser}" method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<td>邮箱：</td>
				<td><input type="email" name="usEmail" id="usEmail" required="required" th:onblur="'javascript:testEmail();'" ></td>
				<td><span id="testEmail"></span></td>
			</tr>
			<tr>
				<td>密码：</td>
				<td><input type="password" name="usPassword" id="password"
					required="required"></td>
			</tr>
			<tr>
				<td>再次输入：</td>
				<td><input type="password" id="again" required="required" oninput="pswAgain()"></td>
				<td><span id="testPassword"></span></td>
			</tr>
			<tr>
				<td>姓名：</td>
				<td><input type="text" name="usName" required="required"></td>
			</tr>
			<tr>
				<td>身份：</td>
				<td>
					<select name="caId">
						<option th:each="category,categoryStart:${categoryList}" th:text="${category.caName}" th:value="${category.caId}" />
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="file" name="picture" id="usPicture" required="required">
				</td>
			</tr>
			<tr>
				<td><input type="submit"  id="add" value="添加"></td>
			</tr>
		</table>
	</form>
</body>
</html>