<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>home</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/animation.css}">
</head>
<body>
<div th:text="${message}"></div>
<div class="anima">
		<div class="aaa"></div>
 		<div class="bbb">
			<img th:src="@{/static/images/admin/anione.png}" alt="" width="100%" height="100%">
 		</div>
	</div>
<!-- 缺乏写页面 -->	
<a th:href="@{/news/addNoticeJumping}"  class="out2"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;添加公告</a>
<a th:href="@{/news/noticeJumping}" class="out2"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;管理公告</a>

<a th:href="@{/general/uploadPictureJumping}" class="out2"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上传图片轮播图</a>
<a th:href="@{/general/managePicture}" class="out2"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;管理图片轮播图</a>
<a th:href="@{/news/literatureJumping}" class="out2"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;添加校园文学的跳转</a>
<a th:href="@{/news/manageliteratureJumping}" class="out2"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;管理校园文学的跳转</a>
<a th:href="@{/news/downLoadjumpping}" class="out2"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;资源类上传的跳转</a>
<a th:href="@{/news/manageDownLoadJumpping}" class="out2"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;资源类下载管理的跳转</a>
</body>
</html>