<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>管理系统</title>
</head>
<body>
	<details>
		<summary>用户管理</summary>
		<a href="/user/toAddUser" th:href="@{/user/toAddUser}"
			target="mainIframe">添加用户</a>
		<br>
		<a th:href="@{/user/manageUser}" target="mainIframe">用户管理</a>
	</details>
	<details>
		<summary>类别管理</summary>
		<a th:href="@{/category/categoryjumping}" target="mainIframe">添加类别</a>
		<br>
		<a th:href="@{/category/manageCategory}" target="mainIframe">管理类别</a>
	</details>
	<details>
		<summary>概括类管理</summary>
		<a th:href="@{/general/manageGeneralJumping}" target="mainIframe">管理概括类</a>
	</details>
	<details>
		<summary>校园新闻类管理</summary>
		<a th:href="@{/news/manageJumping}" target="mainIframe">校园新闻的管理</a>
	</details>
	<details>
		<summary>教育教研类的管理</summary>
		<a th:href="@{/education/educationJumping}" target="mainIframe">添加教育教研</a>
		<br>
		<a th:href="@{/education/uploadJumping}" target="mainIframe">教育教研的上传</a>
	</details>
	<details>
		<summary>底部链接的管理</summary>
		<a th:href="@{/link/linkJumping}" target="mainIframe">底部链接的添加</a>
		<a th:href="@{/link/checkLink}" target="mainIframe">查看底部链接</a>
		<a th:href="@{/link/manageLink}" target="mainIframe">底部链接的管理</a>
	</details>
	<details>
		<summary>留言管理</summary>
		<a th:href="@{/message/manageMessage}" target="mainIframe">管理留言</a>
	</details>
	<details>
		<summary>个人中心</summary>
		<a th:href="@{/user/viewMe}" target="mainIframe">个人信息</a>
		<a th:href="@{/user/loginOut}" target="mainIframe">退出</a>
	</details>
	<iframe name="mainIframe" height="500px;" width="1500px;"></iframe>
</body>
</html>