<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/managerinformation.css}">
</head>
<body>
<div th:text="${message}" class="message"></div>
<div th:if="${phone==null && email==null && address==null}">
	没有联系方式
</div>
<div th:if="${phone!=null || email!=null || address!=null}" class="content">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<td>联系方式</td>
				<td>内容</td>
			</tr>
		</thead>
		<tr th:if="${phone!=null}"> 
			<td th:text="${phone.reTitle}">电话</td>
			<td th:text="${phone.reContent}">内容</td>
		</tr>
		<tr th:if="${email!=null}">
			<td th:text="${email.reTitle}">邮箱</td>
			<td th:text="${email.reContent}">内容</td>
		</tr>
		<tr th:if="${address!=null}">
			<td th:text="${address.reTitle}">地址</td>
			<td th:text="${address.reContent}">内容</td>
		</tr>
	</table>
	<a th:href="@{/others/toUpdateInformation}" class="btn" data-toggle="button">修改</a>
</div>
</body>
</html>