.centerImg{
    width: 100%;
    min-width:1000px;
    height:145px;
    background-color: #8050a0;
    overflow: hidden;
}
.centerimgBox{
	width:1000px;
	left:50%;
	transform: translate(-50%);
	-ms-transform: translate(-50%); /* IE 9 */
	-webkit-transform: translate(-50%); ;
	position:relative;
}

.centerImg img{
	position:absolute;
	z-index:2;
    display: block;
    width:1000px;
    height:145px;
    margin: 0 auto;
}
.sideLeft{
	width:200px;
	height:145px;
	position: absolute;
	left:0;
	top:0;
	z-index:3;
	background:  -webkit-linear-gradient(left,rgba(128,80,160,1), rgba(128,80,160,0)); 
    background: -o-linear-gradient(right,rgba(128,80,160,1), rgba(128,80,160,0)); 
    background: -moz-linear-gradient(right,rgba(128,80,160,1), rgba(128,80,160,0));
    background: linear-gradient(to right,rgba(128,80,160,1), rgba(128,80,160,0));
    filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#8050a0,endColorStr=#00FFFFFF);

}
.sideRight{
	width:200px;
	height:145px;
	position: absolute;
	right:0;
	top:0;
	z-index:3;
	background:  -webkit-linear-gradient(right,rgba(128,80,160,1), rgba(128,80,160,0)); 
    background: -o-linear-gradient(left,rgba(128,80,160,1), rgba(128,80,160,0)); 
    background: -moz-linear-gradient(left,rgba(128,80,160,1), rgba(128,80,160,0));
    background: linear-gradient(to left,rgba(128,80,160,1), rgba(128,80,160,0));
    filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#00FFFFFF,endColorStr=#8050a0);
}
.mainbox1{
    margin-top: 20px;
}
.schollabout{
    width: 1000px;
    margin: 0 auto;
}
.schollabout .schollleft{
    float: left;
    width: 200px;
    padding: 10px 0px;
    font-size: 16px;
    border-left: 2px solid rgb(48,64,91);
    /*background-color: red;*/
}
.schollabout .schollright{
    float: right;
    width: 750px;
}
.location{
    font: 12px '微软雅黑';
    color: #707070;
    letter-spacing: 1px;
}
.location>a{
    color: #707070;
}
.location>a:hover{
    text-decoration: none;
}
.titlesc{
    width: 100%;
    font: 22px '微软雅黑';
    text-align: center;
    padding: 20px 0px;
    letter-spacing: 5px;
    color: rgb(48,64,91);
}
.schollcontent{
    text-indent: 28px;
    width:100%;
}
.schollcontent>p{
    padding-bottom: 20px;
    width:100%;
    overflow: hidden;
}
.schollcontent>p>img{
	max-width:100%;
}
.schoolcenter{
    list-style: none;
}
.schollleft>h3{
    padding: 0 0 15px 20px;
}
.schoolcenter>li{
    list-style: none;
}
.schoolcenter>li>a{
    display: block;
    padding: 15px 35px;
    font-family: '微软雅黑';
    color: #000;
}

.schoolcenter>li>a:hover{
    text-decoration: none;
    background-color: #d9fab4;
}
.active1{
    background-color: #d9fab4;
}