.newscontent{
    margin-bottom: 50px;
}
.newscontent .newscontentUl{
    list-style: none;
}
.newscontent .newscontentUl>li{
    list-style: none;
    height: 40px;
    line-height: 20px;
}
.newscontent .newscontentUl>li>a{
    color:rgb(48,64,91);
    text-decoration: none;
    line-height: 40px;
    font-size: 14px;
}
.newscontent .newscontentUl>li>span{
    font-size:12px;
    float: right;
    line-height: 40px;

}
.paging1{
    margin-top:20px;
    margin-bottom: 40px;
    width: 100%;
    /*text-align: center;*/
}

.paging1 .pagingUl{
    /*margin: 0 auto;*/
    list-style: none;
    font-size: 0;
    float: left;
}

.paging1 .pagingUl>li{
    display: inline-block;
    font-size: 0;
    list-style: none;
    border: 1px solid rgba(48,64,91,.3);
    width: 40px;
    height: 30px;
    text-align: center;
}
.paging1 .pagingUl>li>a{
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: block;
    line-height: 30px;
    text-decoration: none;
    color:#130c16;
}
.paging1 .pagingUl>li>a:hover{
    background-color: rgb(227,227,227);
}
.active2{
    background-color: rgb(227,227,227);
}
.pagingRight{
    float: right;
    margin-right: 20px;
}
.pagingRight>span{
    letter-spacing: 1px;
}
.selectBox{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 30px;
    border:1px solid rgba(48,64,91,.5);
}
.selectBox .selectBoxUl{
    position: absolute;
    /* top:-300px; */
    width: 40px;
    /* height: 300px; */
    /* overflow-y: scroll; */
    overflow-x: hidden;
    list-style: none;
    display: none;
    border: 1px solid rgba(48,64,91,.5);
    background-color: #fff;
}
.selectBox>span{
    line-height: 30px;
    display: inline-block;
    padding-right:5px;
    width: 100%;
    text-align: center;
}
.selectBox .selectBoxUl>li{
    list-style: none;
}
.selectBox .selectBoxUl>li>a{
    display: inline-block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding:3px 10px;
}
.selectBox .selectBoxUl>li>a:hover{
    background-color: rgb(227,227,227);
}

