body, ul, li, h3, img, p, dl, dt, dd {
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
}
body{
    background-color: #fff;
}
.topmax{
    width: 100%;
    background: url('../../images/visitor/topback.png') repeat-y center #e5e9f5;
}
.header{
    max-width: 1000px;
    padding: 28px 0 17px 0;
    position: relative;
    margin: 0 auto;
}
.logo{
    width: 50%;
    position: relative;
}
.logo img{
    width: 100%;
    height: 100%;
}
.logo .schoollogo1{
    float: left;
    width:20%;
    height: 100%;
}
.logo .schoollogo2{
    float: left;
    width:80%;
    height: 100%;
}
.headerRight{
    position: absolute;
    right:0;
    top:28px;
    padding-top:10px;
    padding-right: 65px;
    color: #3c3c3c;
}
.headerRight p{
    font-size: 12px;
    line-height: 20px;
    text-align: right;
}

.headerclock{
    width: 50px;
    height: 60px;
    position: absolute;
    top:0px;
    right: 12px;
    z-index: 100;
}
.headerclock img{
    width: 100%;
    height: 100%;
}
.navBox{
    width: 100%;
    background-color: rgb(48,64,91);
}
.navUl{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    list-style: none;
    display: block;
    font-size: 0;
    background-color: rgb(48,64,91);
}

.navBox .navUl .navLi{
    display: inline-block;
    zoom:1;
    width: 11.111%;
    padding:0;
    font-size: 15px;
    text-align: center;
    height: 45px;
    border-right: #626d8c 1px dotted;
    overflow: hidden;
}
.firstli{
    border-left: #626d8c 1px dotted;
}
.navBox .navUl .navLi>a{
    display: block;
    padding:0;
    margin: 0;
    height: 100%;
    line-height: 45px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
}
.navBox .navUl .navLi:hover {
    background: #121822;
    border-top: 2px solid #f10000;
    overflow: hidden;
}

.navSecondUl{
    top:43px;
    width: 13%;
    display: none;
    z-index: 80;
    list-style: none;
    position: absolute;
    text-align: center;
    background-color: #121822;
    padding-bottom:10px;
}
.navSecondUl>li{
    list-style: none;
    line-height: 32px;
}
.navSecondUl>li>a{
    color: white;
    display: block;
    font-size: 14px;
    height: 100%;
    text-decoration: none;
}
.navSecondUl>li:hover{
    background-color: rgb(48,64,91);
}
.navSecondUl>li>a:hover{
    color:white;
}


#myCarousel .carousel-inner .item>img{
    width: 100%;
}
.notice{
    width: 100%;
}
.winBox{
    max-width: 1000px;
    height: 30px;
    position: relative;
    margin:0 auto;
    overflow: hidden;
}
.winBox>span{
    position: absolute;
    top:9px;
    background-color: white;
    left:0;
    z-index: 20;
}
.noticeUl{
    list-style: none;
    position: absolute;
    width: 1500px;
    height: 40px;
    top:0;
    left: 0;
    overflow: hidden;
}
.noticeUl>li{
    display: inline-block;
    line-height: 40px;
    zoom: 1;
}
.mainBox{
    width: 100%;
    margin-top:20px;
}
/*.mainCenter{*/
    /*max-width: 1000px;*/
/*}*/
/*.mainLeft{*/
    /*border-right:2px solid #d7d7d7;*/
/*}*/
.mainLeft>h3>a{
    text-decoration: none;
    color: rgb(48,64,91);
    font-size: 20px;
    font-family: "微软雅黑";
    font-weight: 600;
}
.mainLeft>h3>a:hover{
    color:purple;
}
.mainLeft>p{
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mainLeft>p>a{
    color:rgb(48,64,91);
    text-decoration: none;
}
.mainLeft:hover{
   opacity: .8;
}
.mainLeft{
    margin-bottom: 20px;
}
.mainImg{
    width: 100%;
    height: 150px;
    background-color: rebeccapurple;
}
.mainImg img{
    width: 100%;
    height: 100%;
}
.mainTop{
    /*margin-bottom: 25px;*/
    /*height: 150px;*/
    /*width: 100%;*/
}
/*.mainTop img{*/
    /*width: 100%;*/
    /*height: 95%;*/
    /*margin-left: 15px;*/
/*}*/
.mainBheader{
    width: 100%;
    height: 33px;
    background-color: rgb(79,193,233);
    overflow: hidden;
}
.mainBheader>a{
    text-decoration: none;
    padding:0 10px;
    color: white;
    line-height: 33px;
    font-size: 14px;
    font-weight: 600;
}
.mainBheader>a>span{
    padding-right: 10px;
    font-size: 12px;
    font-weight: 900;
}
.mainBheader>a>span{
    font-size: 12px;
    font-weight: 200;
}
.mainBheader>a>i{
    font-style:normal;
}
.mainBheader>a>i:hover{
    color: rgb(48,64,91);
}
.mainBheader>a>em{
    font-style:normal;
}
.mainBheader>a>em:hover{
    color:#ccc;
}
.mainBbody{
    padding-top:15px;
    list-style: none;
    overflow: hidden;
}
.mainBbody>li{
    list-style: none;
    clear: both;
}
.mainBbody>li>a{
    display: inline-block;
    text-decoration: none;
    width: 70%;
    padding-left:15px;
    font-size: 14px;
    font-family: 微软雅黑;
    color:#0e0c74;
    height: 30px;
    line-height: 30px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: url("../../images/visitor/pont.jpg") no-repeat left center;
    -webkit-transition: padding-left .5s;
    -moz-transition: padding-left .5s;
    -ms-transition: padding-left .5s;
    -o-transition: padding-left .5s;
    transition: padding-left .5s;
}
.mainBbody>li>a:hover{
    color:red;
    padding-left: 25px;
}
.mainBbody>li>span{
    float: right;
    text-align: right;
    width: 30%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 12px;
}
.changeColor{
    background-color:rgb(69,170,112)!important;
}
.changeColor1{
    background-color:rgb(233,144,79)!important;
}
.teacher1{
    position: relative;
    width: 100%;
    height: 135px;
    margin-bottom: 12px;
    overflow: hidden;
}

.teacher1 img{
    width: 100%;
    height: 135px;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
}
.showthis{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 0px;
    background: -webkit-linear-gradient(rgba(48,64,91,.1), rgba(48,64,91,.6)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(48,64,91,.1), rgba(48,64,91,.6)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(48,64,91,.1), rgba(48,64,91,.6)); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(48,64,91,.1), rgba(48,64,91,.6)); /* 标准的语法 */
    /*background-color: rgba(48,64,91,.7);*/
    bottom: 0;
    color:white;
    line-height: 30px;
    padding-left: 10px;
    transition: height .5s ;
    -webkit-transition: height .5s;
    z-index: 222;
}

.teacher1:hover .showthis{
    height: 30px;
}
.teacher2:hover .showthis{
    height: 30px;
}
.teacher2{
    position: relative;
    width: 100%;
    height: 135px;
    overflow: hidden;
}
.teacher2 img{
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    width: 100%;
    height: 135px;
}

.sBox{
    padding:0;
    margin:10px auto 0 auto;
    max-width: 1000px;
    height: 150px;
    border: 1px solid rgb(99,6,95);
}
.sBox1{
    max-width: 1000px;
    height: 150px;
    overflow: hidden;
}
.scroll{
    width: 20000px;
    height: 100%;
}
.sBox1 ul{
    list-style: none;
    margin: 0;
    padding:0;
    font-size: 0;
    float: left;
}
.sBox1 ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    float: left;
    width: 225px;
    height: 150px;
    font-size: 16px;
    margin-right: 10px;
    zoom: 1;
    overflow: hidden;
}
.sBox1 ul li>a{
    text-decoration: none;
    margin: 0;
    padding:0;
}
.sBox1 ul li>a>img{
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    width: 225px;
    height: 150px;
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari 和 Chrome */
    -o-transition: all 0.5s;
}
.sBox1 ul li span{
    position: absolute;
    /*display: inline-block;*/
    width: 100%;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    bottom:0;
    color:white;
    background-color: rgba(99,6,95,.7);
    overflow: hidden;
    white-space: nowrap;
    z-index: 20;
    text-overflow: ellipsis;
}
.sBox1 ul li>a:hover .bigimg{
    transform: scale(1.2);
    ms-transform:scale(1.2); 	/* IE 9 */
    -moz-transform:scale(1.2); 	/* Firefox */
    -webkit-transform:scale(1.2); /* Safari 和 Chrome */
    -o-transform:scale(1.2);

}
.newsScroll {
    /*max-width: 1000px;*/
    margin: 20px auto 0px auto;
    padding:0 10px;
    overflow: hidden;
}
.changeColor2{
    background-color: rgb(99,6,95);
}
.footer{
    width: 100%;
    margin-top:20px;
    margin-bottom: 2px;
    background-color: rgb(48,64,91);
}
.footerBox{
    max-width: 1000px;
    margin: 0 auto;
    padding-top:20px;
    /*padding-bottom: 20px;*/
}
.footerBox1{
    margin-bottom: 20px;
}
.footerBox1>img{
    width: 100%;
}
.footerBox1>h3{
    font-size: 14px;
    color:white;
    line-height: 20px;
}
.footerBox1>p{
    color: #afbbce;
    font-size: 12px;
    line-height: 20px;
}
.footerBox1>p>a{
    color: #afbbce;
    text-decoration: none;
}
.footerBox1>h3>a{
    font-size: 14px;
    color:white;
    line-height: 20px;
}
.scollnews1{
    width: 100%;
}






@media (min-width: 768px) {
    .logo{
        width: 29.5%;
    }

}


@media (max-width: 768px) {
    .headerclock{
        width: 40px;
        height: 50px;
        position: absolute;
        top:6px;
        right: 20px;
        z-index: 100;
    }
    .navBox .navUl .navLi{
        width: 22.222%;
        font-size: 14px;
        text-align: center;
        border-right: none;
        height: 30px;
    }
   /*  .navBox .navUl .navLi:hover .navSecondUl{
        display: none;
    } */
    .navUl{
        text-align: center;
    }

    .navBox .navUl .navLi>a{
        line-height: 30px;
    }
    .navBox .navUl .navLi:hover {
        background-color: inherit;
        border-top: 0px solid #f10000;
        overflow: hidden;
    }
    .firstli{
        border: 0;
    }
    .navSecondUl{
        visibility: hidden;
    }

    .mainLeft>h3>a{
        text-decoration: none;
        color: rgb(48,64,91);
        font-size: 16px;
        font-family: "微软雅黑";
        font-weight: bold;
    }
    .mainLeft>p>a{
        font-size: 12px;
    }

    .mainCenter{
        max-width: 768px;
    }
    .newsScroll{
        max-width: 768px;
    }



}

@media (max-width: 992px){
    .mainImg{
        height: 100px;
    }
}


@media (max-width: 1000px){
    .newsScroll{
        display: none;
    }
}

@media (max-width: 1200px){
    .newsScroll{
        max-width: 1000px;
    }
    .mainCenter{
        max-width: 1000px;
    }
}

@media (min-width: 1200px){
    .header{
        width: 75%;
        max-width: 100%;
        min-width: 1000px;
    }
    .navUl{
        width: 75%;
        max-width: 100%;
        min-width: 1000px;
    }

    .mainCenter{
        width: 75%;
        min-width: 1000px;
    }

    .sBox{
        width: 100%;
        max-width: 100%;
    }
    .sBox1{
        width: 100%;
        max-width: 100%;
    }
    .newsScroll{
        width: 75%;
        min-width: 1000px !important;
        /*padding:0 10px;*/
    }
}

@media (min-width: 1700px){
    .mainImg{
       height: 180px;
    }
}
