<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>home</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/upload.css}">
</head>
<body>
<div th:if="${sign}=='1'">请先去类别管理中添加相应类别</div>
<div th:if="${sign}!='1'">
<div th:text="${message}"></div>
<form th:action="@{/political/upload}" method="post" enctype="multipart/form-data">
<div class="aa">
	<table>
		<tr>
			<td width="20%">选择文件:</td>
			<td width="20%"><input type="file" name="file" width="120px" required="required"></td>  
		</tr>
		<tr height="30px"></tr>
		<tr>
			<td><input type="hidden" name="caId"  th:each="category,categoryStart:${categoryList}" th:value="${category.caId}">
		    </td>
		</tr>
		<tr height="30px"></tr>	
		<tr>
			 <td><input type="submit" value="上传" class="bb"/></td>  
		</tr>
	</table>
</div>
</form>
</div>
</body>
</html>