<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Home</title>
</head>
<body>
<span th:text="${message}"></span>
	<table>
			<tr>
				<td>邮箱</td>
				<td th:text="${session.manager.usEmail}"></td>
			</tr>
			<tr>
				<td>姓名</td>
				<td th:text="${session.manager.usName}"></td>
			</tr>
			<tr>
				<td>性别</td>
				<td th:text="${session.manager.usSex}"></td>
			</tr>
			<tr>
				<td>身份</td>
				<td th:text="${session.manager.caName}"></td>
			</tr>
			<tr>
				<td>联系方式</td>
				<td th:text="${session.manager.usPhone}"></td>
			</tr>
			<tr>
				<td>照片</td>
				<td>
					<img alt="没有照片" width="200px;" height="50px;"
					th:src="@{/static/uploadimg/{picture}(picture=${session.manager.usPicture})}" />
				</td>
			</tr>
			<tr>
				<td>简介</td>
				<td><a href="#" id="introShow" th:onclick="'showIntro(this)'">查看简介</a></td>
			</tr>
			<tr>
				<td>成就</td>
				<td><a href="#" id="achieveShow" th:onclick="'showIntro(this)'">查看成就</a></td>
			</tr>
			<tr>
				<td><a th:href="@{/political/toUpdateMe}">修改基本信息</a></td>
				<td><a th:href="@{/political/toUpdatePsw}">修改密码</a></td>
			</tr>
		</table>
		<div id="viewDetails" style="display: none;">
			<div id="introAchieve"></div>
			<button id="hideDetails">隐藏</button>
		</div>
<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
<script th:inline="javascript">
	function showIntro(obj){
		if(obj.id=='introShow'){
			obj = /*[[${session.manager.usIntroduction}]]*/;
		} else {
			obj = /*[[${session.manager.usAchievements}]]*/;
		}
		$('#viewDetails').show();
		if(obj==null||obj==""){
			obj="无";
		}
		$('#introAchieve').html(obj);
	}
	$('#hideDetails').click(function(){
		$('#viewDetails').hide();
	});
</script>
</body>
</html>