
.topper{
	width: 100%;
	height:80px;
	background-color: #012349;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/*position: fixed;*/
}
.one{
	width:20%;
	height: 100%;
	float: left;	
	background-color: white;
}
.one p{
	font-size: 1.6em;
	font-weight: bold;
	color:#012349; 
	font-family:楷体;
	padding-top:22px;
}
.mid{ 
	width: 50%;
	height: 100%;
	float: left;	
}
.two{
	width:30%;
	height: 100%;
	float: right;
	/*background-color: gray;*/
}

.a{
	list-style: none;

	box-sizing: border-box;
}
.a li a{
	text-decoration: none;
}
.a li{
	display: inline-block;
	width: 17%; 
	/*background: #f66;*/
	vertical-align: middle;
}
.le_1{
	width: 60px;
	height: 60px;
	margin-top: 20px;
}
.le_1 img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

/*头部结束*/
.box{
	width:100%;
	height:500px;
}
 .sidebar-collapse{
	width: 20%;
    height:500px;
    float: left;
    background-color: #012349;
    overflow: scroll;
    overflow-x: hidden;
}
 .sidebar-collapse span{
  margin-left: 2%;
 }
.sidebar-collapse .nav > li > a {
    font-weight: bold;
    padding: 15px 25px;
    text-indent:5%; 
    font-size: 18px;
    color:white;
    border: 1px solid white;
    border-left: none;
}

.out{
	background-color: #012349;
}
 .sidebar-collapse > .nav > li > a {
    padding: 15px 10px;
    }

.sidebar-collapse .nav > li > a:hover{
		background:#012349 ;
        outline: 0;
    }

.nav-second-level{
	display: none;
}
.nav-second-level > li > a{
    background-color: #012349;
}
.nav-second-level li a {
	font-weight: bold;
    padding-left: 20px;
 }
/*   .letter{
 	font-size:18px;
 	font-weight: bold;
 } 
 .letter a{
    width:200px;
 	background:red;
 	margin-left:60px;
 	border:1px solid white;
 	 height:40px;
 	
 } */

#ifr{
    border: none;
    width: 80%;
    height: 500px;
	left:20%;
    float: left;
    /*background-image: url(../images/welcome7.jpg);*/
    /*background-size: 100% 100%;*/
}
#date{
	width: 100%;
	height:60px;
	/*background-color:gray;	*/

}
.out2{
	color:white;
}
