<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/dist/css/wangEditor.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/answermessage.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.css}">
	<script th:src="@{/static/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="all">
	<div class="content">
		<table class="table table-hover table-border">
			<tr class="leftTd">
				<td width="15%">发布人</td>
				<td th:text="${message.meHide}"></td>
			</tr>
			<tr class="leftTd">
				<td class="leftTd">标题</td>
				<td th:text="${message.meTitle}"></td>
			</tr>
			<tr>
				<td class="leftTd">内容</td>
				<td><div id="meContent">没有填写内容</div></td>
			</tr>
			<tr class="leftTd">
				<td class="leftTd">留言日期</td>
				<td th:text="${message.meIssuingdate}" /></td>
			</tr>
		</table>
		<div>
				<form th:action="@{/message/reply}" method="post"
					onsubmit="modifyContent()">
					<div class="text">
						<input type="hidden" name="id" th:value="${message.meId}" />
						<input type="hidden" name="page" th:value="${page}" />
						<textarea name="meReply" style="display: none;" id="content"></textarea>
						<div id="editor"></div>
						<input class="btn" type="submit" value="回复" />
					</div>
				</form>
		</div>
	</div>
	</div>
	<script type="text/javascript"
		th:src="@{/static/dist/js/lib/jquery-1.10.2.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/dist/js/wangEditor.min.js}"></script>
	<script th:inline="javascript">
			var E = window.wangEditor
			var editor = new E('editor')
			editor.config.uploadImgUrl = 'uploadImg'
			editor.config.uploadImgFileName = 'file'
			editor.create()
			
			var messageContent = /*[[${message}]]*/;
			if(messageContent.meContent!=null){
				$(meContent).html(messageContent.meContent)
			}
			
			var coutent = /*[[${message.meReply}]]*/;
			editor.$txt.html(coutent);
			
			function modifyContent() {
				var content = document.getElementById("content");
				content.value = editor.$txt.html();
			}
	</script>
</body>
</html>