body{
	margin: 0;
	padding: 0;
}
.message{
	text-align: center;
	color:red;
}
.box{
	width: 100%;
	background-image: url(../images/admin/login1.png);
	background-size: 100% 100%;
	margin-bottom:0;	
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-Index:-1; 
}
.logo{
	/*width: 30%;*/
	max-width: 400px;
	height: 32%;
	background-color: white;
	border-radius: 8px;
	position:relative;
	margin:0 auto;
	padding: 20px;
	top: 45%;
}
span{
	margin-left: 18%;

}
input{
	margin-left: 5%;

}
.user{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.righ{
	font-size: 12px;
	margin-left: 20%;
	color: gray;
}
.but{
	margin-left: 28%;
	cursor:pointer;
	/*color: #333366;*/
	border-radius: 6px;
	border: 1px solid #66B3FF;
	background: #66B3FF;
	color: white;
	padding:5px 5px;
	margin-top:20px;
	width: 66px;
	height: 30px;
}
.aa{
	font-size:16px;
}
.bb{
	margin-top:20px;
}
a{
	text-decoration: none;

}