<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.torrow.school.dao.TbResourceDao">
  <resultMap id="BaseResultMap" type="com.torrow.school.entity.TbResource">
    <id column="re_id" jdbcType="INTEGER" property="reId" />
    <result column="ca_id" jdbcType="INTEGER" property="caId" />
    <result column="ca_name" jdbcType="VARCHAR" property="caName" />
    <result column="re_title" jdbcType="VARCHAR" property="reTitle" />
    <result column="re_ issuer" jdbcType="VARCHAR" property="re issuer" />
    <result column="re_issuingdate" jdbcType="TIMESTAMP" property="reIssuingdate" />
    <result column="spare" jdbcType="VARCHAR" property="spare" />
    <result column="re_content" jdbcType="LONGVARCHAR" property="reContent" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_resource
    where re_id = #{reId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.torrow.school.entity.TbResource">
    insert into tb_resource (re_id, ca_id, ca_name, 
      re_title, re_ issuer, re_issuingdate, 
      spare, re_content)
    values (#{reId,jdbcType=INTEGER}, #{caId,jdbcType=INTEGER}, #{caName,jdbcType=VARCHAR}, 
      #{reTitle,jdbcType=VARCHAR}, #{re issuer,jdbcType=VARCHAR}, #{reIssuingdate,jdbcType=TIMESTAMP}, 
      #{spare,jdbcType=VARCHAR}, #{reContent,jdbcType=LONGVARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.torrow.school.entity.TbResource">
    update tb_resource
    set ca_id = #{caId,jdbcType=INTEGER},
      ca_name = #{caName,jdbcType=VARCHAR},
      re_title = #{reTitle,jdbcType=VARCHAR},
      re_ issuer = #{re issuer,jdbcType=VARCHAR},
      re_issuingdate = #{reIssuingdate,jdbcType=TIMESTAMP},
      spare = #{spare,jdbcType=VARCHAR},
      re_content = #{reContent,jdbcType=LONGVARCHAR}
    where re_id = #{reId,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select re_id, ca_id, ca_name, re_title, re_ issuer, re_issuingdate, spare, re_content
    from tb_resource
    where re_id = #{reId,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select re_id, ca_id, ca_name, re_title, re_ issuer, re_issuingdate, spare, re_content
    from tb_resource
  </select>
</mapper>