  <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>home</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/manageschoolnews.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
</head>
<body>
<div class="aa">
<div th:text="${message}"></div>
<span th:if ="${pagemsg.totalCount}==0">
        没有任何资源信息！
    </span>
 <div th:if ="${pagemsg.totalCount}!=0">
 
 <!--模糊查询  -->
<!--  <form th:action="@{/news/manageSchoolNews}" method="post">
 	<input type="hidden" name="caId" th:value="${zid}">
    <input type="text" name="caName" required>
    <input type="submit" value="查询">
</form> -->
<!--模糊查询  -->

        <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <td><span>上传的名称</span></td>
                <td><span>上传的时间</span></td>
                <td><span>删除</span></td>
                <td><span>下载</span></td>
            </tr>
            </thead>
                <tr th:each="news,newsStart:${pagemsg.lists}">
                	<td th:text="${news.reTitle}">${news.reTitle}</td>
                	<td th:text="${news.reIssuingdate}">${news.reIssuingdate}</td>
                	<td><a th:href="@{/news/deleteFile?(id=${news.reId})}">delete</a></td>
                	<td><a th:href="@{/news/down?(id=${news.reId})}">下载</a></td>
                </tr>
        </table>    
  
<table>
<tr>
<td class="td2">
   <span th:if ="${pagemsg.currPage != 1}">
           <a th:href="@{/news/manageObject?(currentPage=1,id=${zid})}">[首页]</a>&nbsp;&nbsp;
           <a th:href="@{/news/manageObject?(currentPage=${pagemsg.currPage-1},id=${zid})}">[上一页]</a>&nbsp;&nbsp;
	</span>	
	<span th:if="${pagemsg.currPage == 1}">
		[首页][上一页]
	</span>
	<span th:each="i:${#numbers.sequence(1,pagemsg.totalPage)}">
			<a th:if="${i > pagemsg.currPage-3} and ${i < pagemsg.currPage+3}"  th:href="@{/news/manageObject?(currentPage=${i},id=${zid})}"th:text="${i}">#</a>
	</span>
    <span th:if ="${pagemsg.currPage < pagemsg.totalPage}">
           <a th:href="@{/news/manageObject?(currentPage=${pagemsg.currPage+1},id=${zid})}">[下一页]</a>&nbsp;&nbsp;
	</span>
	<span th:if="${pagemsg.currPage >= pagemsg.totalPage}">
		[下一页]
	</span>
</td>
</tr>
</table>
</div>
</div>
</body>
</html>