<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>home</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/manageschoolnews.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/inquirytable.css}">
</head>
<body>
<div th:text="${message}" class="issucessor"></div>
<div th:if ="${pagemsg.totalCount}==0" class="issucessor">
        没有任何信息!
</div>
<!--模糊查询  -->
<div class="mainbox">
 	    <form th:action="@{/news/manageObject}" class="inquiry" method="post">
		 	<input type="hidden" name="caId" th:value="${zid}">
		    <input type="text" name="caName" class="inquiryinput" placeholder="文件名称/发布人/日期" required/>
		    <input type="submit" value="查询" class="btn btn-default inquirysub" title="查询">   
	    </form>
	     <div th:if ="${pagemsg.totalCount}!=0">
		<table class="table table-bordered table-hover table-condensed">
       		 <thead>
	            <tr>
	                <th><span>文件名称</span></th>
	                <th><span>发布人</span></th>
	                <th><span>上传的日期</span></th>
	                <th><span>操作</span></th>
	            </tr>
            </thead>
            <tbody>
            	<tr th:each="news,newsStart:${pagemsg.lists}">
                    <td th:text="${news.reTitle}">${news.reTitle}</td>
                    <td th:text="${news.reIssuer}">${news.reIssuer}</td>
                    <td th:text="${news.reIssuingdate}">${news.reIssuingdate}</td>
                	<td>
                		<a th:href="@{/news/down?(id=${news.reId})}" title="下载"><span class="glyphicon glyphicon-download-alt"></span></a>&nbsp;&nbsp;
                		<a th:href="@{/news/deleteFile?(id=${news.reId})}" onclick="return confirm('确定要删除吗')"><span class="glyphicon glyphicon-trash" title="删除"></span></a>
                	</td>
                </tr>
            </tbody>
                
        </table>    
    
<ul class="pagination"> 
   <li th:if ="${pagemsg.currPage != 1}">
           <a th:href="@{/news/manageObject?(currentPage=1,caId=${zid},caName=${caName})}">首页</a>&nbsp;&nbsp;
   </li>
   <li th:if ="${pagemsg.currPage != 1}">
           <a th:href="@{/news/manageObject?(currentPage=${pagemsg.currPage-1},caId=${zid},caName=${caName})}">上一页</a>&nbsp;&nbsp;
	</li>	
	<li th:if="${pagemsg.currPage == 1}">
		<a href="#">首页</a>
	</li>
	<li th:if="${pagemsg.currPage == 1}">
		<a href="#">上一页</a>
	</li>
	
	<li th:each="i:${#numbers.sequence(1,pagemsg.totalPage)}" th:if="${i > pagemsg.currPage-3} and ${i < pagemsg.currPage+3}">
			<a th:href="@{/news/manageObject?(currentPage=${i},caId=${zid},caName=${caName})}"th:text="${i}">#</a>
	</li>
	
    <li th:if ="${pagemsg.currPage < pagemsg.totalPage}">
           <a th:href="@{/news/manageObject?(currentPage=${pagemsg.currPage+1},caId=${zid},caName=${caName})}">下一页</a>&nbsp;&nbsp;
	</li>
	<li th:if="${pagemsg.currPage >= pagemsg.totalPage}">
		<a href="#">下一页</a>
	</li>
</ul>
</div>
</div>
</body>
</html>