<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>home</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/dist/css/wangEditor.min.css}">
</head>
<body>
	<button onclick="bian()">点我一下</button>
	<button>清空操作</button>
	<div th:text="${message}"></div>
	<form th:action="@{/news/updateSchoolNews}" onSubmit="return modifyContent();"
		method="post" enctype="multipart/form-data">
		<input type="hidden" name="reId" th:value="${tbResource.reId}">
		<input type="text" name="reTitle" th:value="${tbResource.reTitle}" required="required">
		<input type="text" name="reIssuingdate" th:value="${tbResource.reIssuingdate}" readonly="readonly">
		<textarea style="display: none;" name="reContent" id="a"></textarea>
		<div id="introEditor" style="border: 1px solid #ccc;"
			contenteditable="false"></div>
		<input type="submit" value="保存">
	</form>
	<script type="text/javascript"
		th:src="@{/static/dist/js/lib/jquery-1.10.2.min.js}"></script>
	<script th:inline="javascript">
	window.onload=function(){
		var reContent = [[${tbResource.reContent}]];
		document.getElementById('introEditor').innerHTML = reContent;
	}
	function bian(){
		$("#introEditor").prop("contenteditable",true);
	}
	function modifyContent(){
		var oA = document.getElementById('a');
		var oIn = document.getElementById('introEditor');
		oA.value = oIn.innerHTML;
	}
	
</script>
</body>
</html>