  <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>home</title>
</head>
<body>
<div th:text="${message}"></div>
<span th:if ="${pagemsg.totalCount}==0">
        没有任何资源信息！
    </span>
 <div th:if ="${pagemsg.totalCount}!=0">
        <table border="1"  class="table1">
        <thead>
            <tr>
                <td>上传的名称</td>
                <td>上传的时间</td>
                <td>下载</td>
            </tr>
            </thead>
                <tr th:each="news,newsStart:${pagemsg.lists}">
                	<td th:text="${news.reTitle}">${news.reTitle}</td>
                	<td th:text="${news.reIssuingdate}">${news.reIssuingdate}</td>
                	<td><a th:href="@{/political/down?(id=${news.reId})}">下载</a></td>
                </tr>
        </table>    
    
<table>
<tr>
<td class="td2">
   <span th:if ="${pagemsg.currPage != 1}">
           <a th:href="@{/teacher/manageUpload?(currentPage=1,id=${zid})}">[首页]</a>&nbsp;&nbsp;
           <a th:href="@{/teacher/manageUpload?(currentPage=${pagemsg.currPage-1},id=${zid})}">[上一页]</a>&nbsp;&nbsp;
	</span>	
	<span th:if="${pagemsg.currPage == 1}">
		[首页][上一页]
	</span>
	<span th:each="i:${#numbers.sequence(1,pagemsg.totalPage)}">
			<a th:if="${i > pagemsg.currPage-3} and ${i < pagemsg.currPage+3}"  th:href="@{/teacher/manageUpload?(currentPage=${i},id=${zid})}"th:text="${i}">#</a>
	</span>
    <span th:if ="${pagemsg.currPage < pagemsg.totalPage}">
           <a th:href="@{/teacher/manageUpload?(currentPage=${pagemsg.currPage+1},id=${zid})}">[下一页]</a>&nbsp;&nbsp;
	</span>
	<span th:if="${pagemsg.currPage >= pagemsg.totalPage}">
		[下一页]
	</span>
</td>
</tr>
</table>
</div>
</body>
</html>