<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>郑州一二二中学</title>
<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/static/css/visitor/style.css}"
	type="text/css">
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/visitor/carousel.js}"></script>
<script th:src="@{/static/js/visitor/notice.js}"></script>
<script th:src="@{/static/js/visitor/scroll.js}"></script>
</head>
<body>
<div th:fragment="header">
	<div class="container header">
		<div class="logo">
			<img th:src="@{/static/images/visitor/logo.jpg}" alt="加载中">
		</div>
		<div class="headerRight">
			<p th:if="${midExam != '--'}">
				距离期中<span th:text="${midExam}"></span>天
			</p>
			<p th:if="${finalExam != '--'}">
				距离期末<span th:text="${finalExam}"></span>天
			</p>
			<p th:if="${catchingExam != '--'}">
				距离中招<span th:text="${catchingExam}"></span>天
			</p>
			<p class="hidden-xs">
				今天<span id="todayTime">--年--月--日</span>
			</p>
		</div>
	</div>
	<!--导航条-->
	<div class="navBox">
		<ul class="navUl">
			<li class="navLi hidden-xs"><a th:href="@{/index}">首页</a></li>
			<li class="navLi"><a href="#">学校概况</a>
				<ul class="navSecondUl">
					<li th:each="general,generals:${generals}"><a
						th:href="@{/visitorGN/viewGeneral?(gId= ${general.caId})}"
						th:text="${general.caName}" >学校概况</a></li>
				</ul></li>
			<li class="navLi"><a href="#">校园新闻</a>
				<ul class="navSecondUl">
					<li th:each="news,newsStart:${schoolNews}"><a
						th:href="@{/visitorGN/viewNews?(nId= ${news.caId})}"
						th:text="${news.caName}" >学校新闻</a></li>
				</ul></li>
			<li class="navLi"><a href="#">教育教研</a>
				<ul class="navSecondUl">
					<li th:each="education,educations:${educations}"><a
						th:href="@{/visitorNEL/viewEducation?(rId= ${education.caId})}"
						th:text="${education.caName}" >教育教研</a></li>
				</ul></li>
			<li class="navLi"><a href="#">校园文学</a>
				<ul class="navSecondUl">
					<li th:each="literature,literatureS:${literature}"><a
						th:href="@{/visitorNEL/viewLiterature?(cId= ${literature.caId})}"
						th:text="${literature.caName}" >校园文学</a></li>
				</ul></li>
			<li class="navLi"><a href="#">教师风采</a>
				<ul class="navSecondUl">
					<li><a
						th:href="@{/visitorNEL/viewTeacherIntroActieve?ask=intro}"
						>教师介绍</a></li>
					<li><a
						th:href="@{/visitorNEL/viewTeacherIntroActieve?ask=achieve}"
						>教师成果</a></li>
				</ul></li>
			<li class="navLi"><a th:href="@{http://jingao.site:8080/wordpress}" target="_blank" >校园博客</a>
			</li>
			<li class="navLi"><a th:href="@{http://jingao.site:8080/bbs}" target="_blank">校园论坛</a></li>
			<li class="navLi"><a th:href="@{/login}" target="_blank">资源下载</a></li>
		</ul>
	</div>
	<script th:src="@{/static/js/jquery.min.js}"></script>
	<script th:inline="javascript">
		var today = new Date(); //获得今天时间
		var todayTime = today.getFullYear() + "年" + today.getMonth() + "月"
				+ today.getDate() + "日";
		$('#todayTime').text(todayTime);
	</script>
</div>
	<!--轮播图-->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- 轮播（Carousel）指标 -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<!-- 轮播（Carousel）项目 -->
		<div class="carousel-inner">
			<div class="item active">
				<img th:src="@{/static/images/visitor/ba1.png}" alt="First slide">
				<div class="carousel-caption">校园1</div>
			</div>
			<div class="item">
				<img th:src="@{/static/images/visitor/ba2.png}" alt="Second slide">
				<div class="carousel-caption">校园2</div>
			</div>
			<div class="item">
				<img th:src="@{/static/images/visitor/ba1.png}" alt="Third slide">
				<div class="carousel-caption">校园3</div>
			</div>
		</div>
		<!-- 轮播（Carousel）导航 -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev"><span
			class="glyphicon glyphicon-chevron-left"></span></a> <a
			class="carousel-control right" href="#myCarousel" data-slide="next"><span
			class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
	
	
	<div class="footer" th:fragment="footer">
        <div class="container footerBox">
            <div class="row">
                <div class="col-sm-3 col-xs-6 footerBox1 hidden-xs"><img th:src="@{/static/images/visitor/bottomlogo.png}" alt=""></div>
                <div class="col-sm-3 col-xs-6 footerBox1" th:if="${phone!=null || email!=null || address !=null}">
                    <h3>联系我们:</h3>
                    <p th:if="${phone!=null}">
                    	电话：<span th:text="${phone.reContent}">电话号码</span>
                    </p>
                    <p th:if="${email!=null}">
                    	邮箱：<span th:text="${email.reContent}">邮箱</span>
                    </p>
                    <p th:if="${address}">
                    	地址：<span th:text="${address.reContent}">地址</span>
                    </p>
                </div>
                <div class="col-sm-3 col-xs-6 footerBox1">
                    <h3>友情链接:</h3>
                    <p><a href="">郑州市外国语中学</a></p>
                    <p><a href="">郑州一中</a></p>
                    <p><a href="">郑州大学附属中学</a></p>
                    <p><a href="">港区教育单位</a></p>
                </div>
                <div class="col-sm-3 col-xs-12 footerBox1">
                    <h3><a th:href="@{/visitorNEL/toLeaveWord}">留言板进入留言</a></h3>
                    <p>&nbsp;</p>
                    <p>版权所有@郑州二二一中学</p>
                    <p>备案信息：<a href="">豫ICP备1111111号</a></p>
                </div>
            </div>
        </div>
    </div>
	<script th:inline="javascript">
		console.log("12")
		var today = new Date(); //获得今天时间
		var todayTime = today.getFullYear() + "年" + today.getMonth() + "月"
				+ today.getDate() + "日";
		$('#todayTime').text(todayTime);
		var schoolGeneralIndex = /*[[${schoolGeneralIndex}]]*/null;//学校简介
		var schoolHistory = /*[[${schoolHistory}]]*/null;//建校历史
		var schoolHonorIndex = /*[[${schoolHonorIndex}]]*/null;//学校荣誉
		var educationAchieveIndex = /*[[${educationAchieveIndex}]]*/null;//教学成果
		if (schoolGeneralIndex != null) {
			$('#schoolGeneralIndex').html(schoolGeneralIndex.reContent)
		}
		if (schoolHistory != null) {
			$('#schoolHistory').html(schoolHistory.reContent);
		}
		if (schoolHonorIndex != null) {
			$('#schoolHonorIndex').html(schoolHonorIndex.reContent);
		}
		if (educationAchieveIndex != null) {
			$('#educationAchieveIndex').html(educationAchieveIndex.reContent);
		}
	</script>
</body>
</html>