<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Home</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
<body>
<form th:action="@{/updatePassword}" method="post">
	<table>
		<tr>
			<td>新密码</td>
			<td><input type="password" name="password" required maxlength="20" id="password"/></td>
		</tr>
		<tr>
			<td>再次输入</td>
			<td>
				<input type="password" required maxlength="20" id="again" th:oninput="'javascript:pswAgain();'"/>
				<span id="okAgain" class="glyphicon glyphicon-ok" style="display: none;"></span>
				<span id="wrongAgain" class="glyphicon glyphicon-remove" style="display: none;"></span>
			</td>
		</tr>
		<tr>
			<td colspan="2"><span th:text="${message}"></span></td>
		</tr>
		<tr>
			<td><input type="submit" id="sure" value="确定"/></td>
			<td><a th:href="@{/login}"><< 返回登录</a></td>
		</tr>
	</table>
</form>
<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/admin/user/adduser.js}"></script>
</body>
</html>