<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>home</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/admin/manageschoolnews.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/admin/managernotice.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/inquirytable.css}">
</head>
<body>
 <div class="mainbox">
 	 <div th:text="${message}" class="message"></div>
 	<div class="thir">
		<a th:href="@{/news/addNewsJumping?(Pid=6)}" title="添加公告" class="add">添加公告</a>
 		<!--模糊查询  -->
 	    <form th:action="@{/news/manageObject}" class="inquiry" method="post">
		 	<input type="hidden" name="caPid" th:value="${zid}">
		    <input type="text" name="caName" class="inquiryinput" placeholder="标题/发布人/日期" required/>
		    <input type="submit" value="查询" class="btn btn-default inquirysub" title="查询">   
	    </form>
	</div>
	<div th:if ="${pagemsg.totalCount}==0" class="message">
	        没有任何公告类信息
	</div>
	 <div th:if ="${pagemsg.totalCount}!=0">
		<table class="table table-hover table-bordered table-condensed">
       		 <thead>
	            <tr>
	                <th><span>标题</span></th>
	                <th><span>发布人</span></th>
	                <th><span>日期</span></th>
	                <th><span>详情</span></th>
	                <th><span>操作</span></th>
	            </tr>
            </thead>
            <tbody>
            	<tr th:each="news,newsStart:${pagemsg.lists}">
                    <td th:text="${news.reTitle}">${news.reTitle}</td>
                    <td th:text="${news.reIssuer}">${news.reIssuer}</td>
                    <td th:text="${news.reIssuingdate}">${news.reIssuingdate}</td>
                    <td class="pp"><a th:href="@{/news/selectOneNews?(id=${news.reId})}">详情</a></td>
                	<td th:if="${news.spare}=='是'">
                		<a th:href="@{/news/stick?(id=${news.reId},caPid=${zid},caName=${caName},sign=1)}" class="col">取消置顶</a>&nbsp;|&nbsp;
                		<a th:href="@{/news/deleteNews?(id=${news.reId})}" onclick="return confirm('确定要删除吗')">删除</a>
                	</td>
                	<td th:if="${news.spare}=='否'">
                		<a th:href="@{/news/stick?(id=${news.reId},caPid=${zid},caName=${caName},sign=0)}">置顶</a>&nbsp;|&nbsp;
                		<a th:href="@{/news/deleteNews?(id=${news.reId})}" onclick="return confirm('确定要删除吗')">删除</a>
                	</td>
                </tr>
            </tbody>
        </table>    
		<ul class="pagination"> 
		   <li th:if ="${pagemsg.currPage != 1}">
		           <a th:href="@{/news/manageObject?(currentPage=1,caPid=${zid},caName=${caName})}">首页</a>&nbsp;&nbsp;
		   </li>
		   <li th:if ="${pagemsg.currPage != 1}">
		           <a th:href="@{/news/manageObject?(currentPage=${pagemsg.currPage-1},caPid=${zid},caName=${caName})}">上一页</a>&nbsp;&nbsp;
			</li>	
			<li th:if="${pagemsg.currPage == 1}">
				<a href="#">首页</a>
			</li>
			<li th:if="${pagemsg.currPage == 1}">
				<a href="#">上一页</a>
			</li>
			
			<li th:each="i:${#numbers.sequence(1,pagemsg.totalPage)}" th:if="${i > pagemsg.currPage-3} and ${i < pagemsg.currPage+3}">
					<a th:href="@{/news/manageObject?(currentPage=${i},caPid=${zid},caName=${caName})}"th:text="${i}">#</a>
			</li>
			
		    <li th:if ="${pagemsg.currPage < pagemsg.totalPage}">
		           <a th:href="@{/news/manageObject?(currentPage=${pagemsg.currPage+1},caPid=${zid},caName=${caName})}">下一页</a>&nbsp;&nbsp;
			</li>
			<li th:if="${pagemsg.currPage >= pagemsg.totalPage}">
				<a href="#">下一页</a>
			</li>
		</ul>
</div>
</div>
</body>
</html>