<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>home</title>
</head>
<body>
<details>
		<span>教研组上传</span>
		<a th:href="@{/news/educationJumpping}"  target="ie" class="out2"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;教育教研上传</a>
		<span>教研组管理</span>
		<div th:each="category,categoryStart:${educationList}">
				<a th:href="@{/news/manageUpload?(id=${category.caId})}" th:text="${category.caName}"></a>
		</div>
		<br>
</details>
<iframe name="mainIframe" height="500px;" width="1500px;"></iframe>
</body>
</html>