<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>home</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/upload.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/educationoffice/uploadfile.css}">
</head>
<body>
<div th:if="${sign}=='1'">管理员未添加相应类别</div>
<div th:if="${sign}!='1'">
<div th:text="${message}" class="message"></div>
<form th:action="@{/education/upload}" method="post" enctype="multipart/form-data">
<div class="aa">
	<table>
		<tr>
			<td><input type="hidden" name="caId" th:value="${TbCategory.caId}"></td>
		</tr>
		<tr>
			<td width="20%">选择文件:</td>
			<td width="20%"><input type="file" name="file" width="120px" required="required"></td>  
		</tr>
		<tr height="30px"></tr>	
		<tr>
			 <td><input type="submit" value="上传" class="uploadbtn"/></td>  
		</tr>
	</table>
</div>
</form>
</div>
</body>
</html>