<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>home</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/admin/upload.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/educationoffice/uploadfile.css}">
</head>
<body>
	<div th:text="${message}" class="message"></div>
	<div th:if="${literatureList==null}">管理员未添加校园文学类别</div>
	<div th:if="${literatureList!=null}">
		<form th:action="@{/education/uploadLiterature}" method="post"
			enctype="multipart/form-data">
			<div class="aa">
				<table>
					<tr>
						<td width="20%">选择文件:</td>
						<td width="20%"><input type="file" name="file" width="120px"
							required="required"></td>
					</tr>
					<tr height="30px"></tr>
					<tr>
						<td>类别名称</td>
						<td><select name="caId" class="cc">
								<option th:each="category,categoryStart:${literatureList}" th:name="caId"
									th:text="${category.caName}" th:value="${category.caId}" />
						</select></td>
					</tr>
					<tr height="30px"></tr>
					<tr>
						<td><input type="submit" value="上传" class="uploadbtn" /></td>
					</tr>
				</table>
			</div>
		</form>
	</div>
</body>
</html>