<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>郑州一二二中学</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/visitor/style.css}" type="text/css">
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/visitor/carousel.js}"></script>
    <script th:src="@{/static/js/visitor/notice.js}"></script>
    <script th:src="@{/static/js/visitor/scroll.js}"></script>
</head>
<body>
    <div class="container header">
        <div class="logo">
            <img th:src="@{/static/images/visitor/logo.jpg}" alt="加载中">
        </div>
        <div class="headerRight">
            <p th:if="${midExam != '--'}">距离期中<span th:text="${midExam}"></span>天</p>
            <p th:if="${finalExam != '--'}">距离期末<span th:text="${finalExam}"></span>天</p>
            <p th:if="${catchingExam != '--'}">距离中招<span th:text="${catchingExam}"></span>天</p>
            <p class="hidden-xs">今天<span id="todayTime">--年--月--日</span></p>
        </div>
    </div>
    <!--导航条-->
    <div class="navBox">
        <ul class="navUl">
            <li class="navLi hidden-xs"><a th:href="@{/index}">首页</a></li>
            <li class="navLi">
                <a href="#">学校概况</a>
                <ul class="navSecondUl">
                    <li th:each="general,generals:${generals}">
                    	<a th:href="@{/visitorGN/viewGeneral?(gId= ${general.caId})}" th:text="${general.caName}" target="_blank">学校概况</a>
                    </li>
                </ul>
            </li>
            <li class="navLi">
                <a href="#">校园新闻</a>
                <ul class="navSecondUl">
                    <li th:each="news,newsStart:${schoolNews}">
                    	<a th:href="@{/visitorGN/viewNews?(nId= ${news.caId})}" th:text="${news.caName}" target="_blank">学校新闻</a>
                    </li>
                </ul>
            </li>
            <li class="navLi">
                <a href="#">教育教研</a>
                <ul class="navSecondUl">
                    <li th:each="education,educations:${educations}">
                    	<a th:href="@{/visitorNEL/viewEducation?(rId= ${education.caId})}" th:text="${education.caName}" target="_blank">教育教研</a>
               		</li>
                </ul>
            </li>
            <li class="navLi">
                <a href="#">校园文学</a>
                <ul class="navSecondUl">
                    <li th:each="literature,literatureS:${literature}">
                    	<a th:href="@{/visitorNEL/viewLiterature?(cId= ${literature.caId})}" th:text="${literature.caName}" target="_blank">校园文学</a>
                    </li>
                </ul>
            </li>
            <li class="navLi">
                <a href="#">教师风采</a>
                <ul class="navSecondUl">
                    <li><a th:href="@{/visitorNEL/viewTeacherIntroActieve?ask=intro}" target="_blank">教师介绍</a></li>
                	<li><a th:href="@{/visitorNEL/viewTeacherIntroActieve?ask=achieve}" target="_blank">教师成果</a></li>
                </ul>
            </li>
            <li class="navLi">
                <a th:href="@{http://jingao.site:8080/wordpress}" target="_blank">校园博客</a>
            </li>
            <li class="navLi">
                <a th:href="@{http://jingao.site:8080/bbs}" target="_blank">校园论坛</a>
            </li>
            <li class="navLi">
                <a th:href="@{/login}" target="_blank">资源下载</a>
            </li>
        </ul>
    </div>
    <!--轮播图-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img th:src="@{/static/images/visitor/ba1.png}" alt="First slide">
                <div class="carousel-caption">校园1</div>
            </div>
            <div class="item">
                <img th:src="@{/static/images/visitor/ba2.png}" alt="Second slide">
                <div class="carousel-caption">校园2</div>
            </div>
            <div class="item">
                <img th:src="@{/static/images/visitor/ba1.png}" alt="Third slide">
                <div class="carousel-caption">校园3</div>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div class="mainBox">
        <div class="container mainCenter">
            <div class="row mainTop">
            	<div th:each="resource,resourceS:${generalIndex}">
	                <div class="col-sm-3 col-xs-6 mainLeft" th:if="${resourceS.index!=3}">
	                    <h3>
	                    	<a th:href="@{/visitorGN/viewGeneral?(gId= ${resource.caId})}" th:text="${resource.reTitle}">标题</a>
	                    </h3>
						<p><a th:href="@{/visitorGN/viewGeneral?(gId= ${resource.caId})}" class="generalIndex" th:name="${resource.reContent}">内容</a></p>                    
	                </div>
	                <div class="col-sm-3 col-xs-6 mainLeft" th:if="${resourceS.index==3}" style="border: none">
	                    <h3>
	                    	<a th:href="@{/visitorGN/viewGeneral?(gId= ${resource.caId})}" th:text="${resource.reTitle}">标题概况</a>
	                    </h3>
						<p><a th:href="@{/visitorGN/viewGeneral?(gId= ${resource.caId})}" class="generalIndex" th:name="${resource.reContent}">内容</a></p>                    
	                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <div class="row mainBottom">
                        <div class="col-sm-6 col-xs-12">
                            <div class="mainBheader changeColor">
                           <a th:href="@{/visitorNEL/viewNotices?(nId= 6)}" target="_blank">公告 |notice<span class="pull-right">&gt; 更多</span></a>
                            </div>
                            <ul class="mainBbody">
                                <li th:each="notice,noticeStart:${notices}">
                                    <a th:href="@{/visitorNEL/noticeDetails?(rId=${notice.reId},nId=${notice.caId})}" th:text="${notice.reTitle}" target="_blank">公告</a>
                                    <span th:text="${notice.reIssuingdate}">发布时间</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="mainBheader">
                                <a th:href="@{/login}" target="_blank">资源下载 <span class="pull-right">&gt; 更多</span></a>
                            </div>
                            <ul class="mainBbody">
                                <li th:each="resource,resourceStart:${resourcesDown}">
                                    <a th:href="@{/login}" target="_blank" th:text="${resource.reTitle}">资源下载</a>
                                    <span th:text="${resource.reIssuingdate}">上传时间</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 hidden-xs">
                    <div class="mainBheader changeColor1">
                        <a th:href="@{/visitorNEL/viewTeacherIntroActieve?ask=intro}" target="_blank">教师剪影 <span class="pull-right">&gt; 更多</span></a>
                    </div>
                    <div class="teacher1" th:if="${famousTeacherOne!=null}">
                    	<a th:href="@{/visitorNEL/teacherDetail?(usId=${famousTeacherOne.usId})}">
	                        <img th:src="@{/static/uploadimg/{picture}(picture=${famousTeacherOne.usPicture})}" alt="没有上传图片">
	                        <span th:text="${famousTeacherOne.usName}">名师</span>
                    	</a>
                    </div>
                    <div class="teacher2"  th:if="${famousTeacherTwo!=null}">
                    	<a th:href="@{/visitorNEL/teacherDetail?(usId=${famousTeacherTwo.usId})}">
	                        <img th:src="@{/static/uploadimg/{picture}(picture=${famousTeacherTwo.usPicture})}" alt="没有上传图片">
	                        <span th:text="${famousTeacherTwo.usName}">名师</span>
	                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="newsScroll">
        <div class="mainBheader changeColor2">
            <a th:href="@{/visitorGN/moreNews}">图片新闻<span class="pull-right">&gt; 更多</span></a>
        </div>
        <div class="sBox">
            <div class="sBox1">
                <div class="scroll">
                    <ul class="scrollUl1">
                        <li th:each="resource,resourceStart:${sNews}">
                        	<a th:href="@{/visitorGN/newDetails?(rId=${resource.reId},nId=${resource.caId})}">
                        		<img th:src="@{${resource.reContent}}" alt="暂无图片" style="width: 100%;height: 100%;">
                        		<span th:text="${resource.reTitle}">新闻标题</span>	
                        	</a>
                        </li>
                    </ul>
                    <ul class="scrollUl2"></ul>
                </div>
            </div>
        </div>
    </div>
<div th:replace="headerfooter::footer"></div>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:inline="javascript">
	var today = new Date();	//获得今天时间
	var todayTime = today.getFullYear()+"年"+today.getMonth()+"月"+today.getDate()+"日"; 
	$('#todayTime').text(todayTime);
	
	var generalIndex = $(".generalIndex");
	for(var i=0;i<generalIndex.length;i++){
		$(generalIndex[i]).html($(generalIndex[i]).attr("name"));
	}
</script>
</body>
</html>