<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1000">
    <title>郑州一二二中学-教育教研</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/static/css/visitor/aboutschool.css}" type="text/css">
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/visitor/schoolnews.css}" type="text/css">
</head>
<body>
<div th:replace="headerfooter :: header"></div> 

<div class="centerImg">
		<div class="centerimgBox">
			<div th:if="${literaturePicture!=null}">
			<img th:src="@{/static/uploadimg/{picture}(picture=${literaturePicture.reContent})}" alt="">
			<div class="sideLeft"></div>
			<div class="sideRight"></div>
		</div>
		</div>
	</div>

<div class="mainbox1">
    <div class="schollabout">
        <div class="schollleft">
            <h3>校园文学</h3>
            <ul class="schoolcenter">
                <li th:each="literature,literatureS:${literature}">
                    	<a th:name="${literature.caId}" th:href="@{/visitorNEL/viewLiterature?(cId= ${literature.caId})}" th:text="${literature.caName}">校园文学</a>
                </li>
            </ul>
        </div>
        <div class="schollright">
            <div class="location"><a th:href="@{/index}">首页</a><span th:if="${useCategory!=null}">.<a href="#" th:text="${useCategory.caName}">校园文学</a></span></div>
            <div th:if="${resourceList.totalPage==0}">
            	<h3 class="titlesc">暂没有相关内容</h3>
            </div>
            <div th:if="${resourceList.totalPage>0}">
	            <h3 class="titlesc" th:text="${resourceList.lists[0].caName}">校园文学</h3>
	            <div class="newscontent">
	                <ul class="newscontentUl">
	                 	<li th:each="resource,resoueStart:${resourceList.lists}">
	                 		<a title="点击下载" id="news" th:href="@{/visitorNEL/downEduLiter?(rId=${resource.reId})}" th:text="${resource.reTitle}"></a><span th:text="${resource.reIssuingdate}"></span>
	                 	</li>
	                </ul>
	                <div class="clearfix"></div>
	            </div>
	            <div class="paging1" th:if="${resourceList.totalPage>0}">
	                <ul class="pagingUl">
	                    <li th:if="${resourceList.currPage-1>0}">
	                    	<a th:href="@{/visitorNEL/viewLiterature?(currentPage=${resourceList.currPage-1},cId=${resourceList.lists[0].caId})}">&laquo;</a>
	                    </li>
	                     <li th:if="${resourceList.currPage-1==0}">
	                     <a href="#">&laquo;</a>
	                     </li>
	                    <li th:each="i:${#numbers.sequence(1,resourceList.totalPage)}" th:if="${i > resourceList.currPage-3} and ${i < resourceList.currPage+3}" >
	                    	<a th:href="@{/visitorNEL/viewLiterature?(currentPage=${i},cId=${resourceList.lists[0].caId})}" th:text="${i}">#</a>
	                    </li>
	                   <li th:if="${resourceList.currPage+1<=resourceList.totalPage}">
	                    	<a th:href="@{/visitorNEL/viewLiterature?(currentPage=${resourceList.currPage+1},cId=${resourceList.lists[0].caId})}">&raquo;</a>
	                    </li>
	                    <li th:if="${resourceList.currPage+1>resourceList.totalPage}">
	                     	<a href="#">&raquo;</a>
	                    </li>
	                </ul>
	                <div class="pagingRight">
	                    <span>跳转到</span>
	                    <div class="selectBox">
	                        <span th:text="${resourceList.currPage}"> <i class="glyphicon glyphicon-chevron-down pull-right" style="line-height: 30px"></i></span>
	                        <ul class="selectBoxUl">
	                         	<li th:each="i:${#numbers.sequence(1,resourceList.totalPage)}">
	                         		<a href="#" th:onclick="'turnPageLiterture(this);'" th:id="${resourceList.lists[0].caId}" th:text="${i}"></a>
	                         	</li>
	                        </ul>
	                    </div>
	                    <span>页 共<span th:text="${resourceList.totalPage}"></span>页</span>
	                </div>
	            </div>
	           </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div th:replace="headerfooter::footer"></div>
<script th:src="@{/static/js/visitor/select.js}"></script>
<script th:inline="javascript">
	var useCategory = /*[[${useCategory}]]*/;
	if(useCategory!=null){
		$("a[name="+useCategory.caId+"]").addClass("active1");		
	}
</script>
</body>
</html>