body {
	margin: 0;
	padding: 0;
	background: #ebebeb;
}

table {
	width: 450px;
	height: 240px;
	padding: 0px;
	margin-left: -26px;
}

.demo {
	width: 400px;
	height: 180px;
	margin: 0 auto;
	margin-top: 150px;
}

td span {
	float: right;
	font-size: 18px;
	padding: 2px 4px;
}

input {
	width: 280px;
	height: 30px;
	margin-left: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ccc;
}

.butone {
	width: 65px;
	height: 40px;
	font-size:16px;
	border-radius: 5px;
	margin-left: 240px;
	background: #2896ef;
	color: white;
}

.bb {
	width: 280px;
	height: 35px;
	border-radius: 5px;
	margin-left: 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ccc;
}

.center {
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
	color: red;
}