	body{
			margin: 0;
			padding: 0;
			background: #ebebeb;
		}
		.t1{
			width: 30%;
			height:200px;
			margin-left: 10%;
			margin-top:5%;
			float: left;
		}
		.t2{
			width: 30%;
			height:300px;
			margin-top:5%;
			float: left;
		}
		
		input{
			width: 200px;
			height: 30px;
			border-radius:5px; 
			-moz-border-radius:5px; 
			-webkit-border-radius:5px; 
			border:1px solid #ccc;
		}
		.demo_1{
			width: 202px;
			height: 30px;
			border-radius: 3px;
			margin-top:10px;
		}
		tr{
			height:10px;
		}
		td{
			text-align:center;
		}
		span{
			float:right;
			font-size: 16px;
		}
		.bb{
			width: 50px;
			height: 30px;
			border-radius: 8px;
			position: absolute;
			margin-left: 150px;
			display: block;
			background: #012349;
			color: white;
		}
