	body{
			margin: 0;
			padding: 0;
			background: #ebebeb;
		}
		.demo{
			width:400px;
			height: 350px;
			margin: 0 auto;
			margin-top: 100px;
			position: relative;
		}
		input{
			width: 200px;
			height: 30px;
			padding:10px;
		}
		.demo_1{
			width: 202px;
			height: 30px;
			border-radius: 3px;
			margin-top:10px;
		}
		tr{
			height:10px;
		}
		td{
			text-align:center;
		}
		span{
			
			font-size: 16px;
		}
		.bb{
			width: 50px;
			height: 30px;
			border-radius: 8px;
			position: absolute;
			margin-left: 150px;
			display: block;
			background: #012349;
			color: white;
		}
