body{
	margin:0;
	padding: 0;
	background: #ebebeb;
}
.aa{
	width:100%;
	height: 80%;
	margin:0 auto;
}
table{
	background: #fff;
	margin-top:10%;
}
tr{
	height:50px;
}
span{
	line-height: 30px;
}
a{
	line-height: 30px;
}
.pp a:hover{
	text-decoration: none;
}
 body { 
 	margin:0px;
 	padding:0px;
 	text-align: center;
 }