body{
	margin:0;
	padding: 0;
	background-color: #eeeeec !important;
}	 
.aa{
	width: 700px;
	height: 200px;
	margin: 0 auto;
/* 	margin-top: 10%; */
}
table{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}
.page{
	background-color: #eeeeec !important;
}
td{
	text-align: center;
}
th{
	text-align: center !important;
}