@CHARSET "UTF-8";
body{
	margin:0;
	padding: 0;
	background: #ebebeb;
}
.content{
	width:85%;
	margin:7% auto;
}
.tableLeft{
	float:left;
	width: 40%;
}
.tableLeft tr{
	height: 60px;
}
.tableRight{
	float:right;
	width: 40%;
}
td{
	vertical-align:middle !important;
	line-height: inherit !important;
}
input{
	width:200PX;
}
.sex{
	width:10%;
}
#sure{
	margin-left:20%;
	margin-top:5%;
	height:30px;
	width: 100px;	
	color:white;
	background:#2896ef;
	border-radius: 4px;
}
.minbtn{
	padding:5px;
	border-radius:4px;
	font-size:14px;
	color:white;
	background:#2896ef;
}
.message{
	color: red;
	text-align: center;
}